In [1]:
import requests
import pandas as pd
import numpy as np

In [96]:
source=requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M").text

I put the wikipedia Table into a Pandas Dataframe

In [182]:
df_Toronto=pd.read_html(source)[0]

In [183]:
df_Toronto.head(10)

  Postal code           Borough                                  Neighborhood
0         M1A      Not assigned                                           NaN
1         M2A      Not assigned                                           NaN
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government
7         M8A      Not assigned                                           NaN
8         M9A         Etobicoke                              Islington Avenue
9         M1B       Scarborough                               Malvern / Rouge

Now i drop th rows with not assigned Borough, then I change "/" for "," in the Neighborhood column, and finally I assign Borough name to Not Assigned Neighborhoods

In [184]:
for i in range(df_Toronto.shape[0]):
    if df_Toronto['Borough'][i]=='Not assigned':
        df_Toronto.drop([i],inplace=True)
    i=i+1

In [185]:
df_Toronto.reset_index(drop=True,inplace=True)

In [186]:
for i in range(df_Toronto.shape[0]):
    count=0
    nb1=df_Toronto["Neighborhood"][i]
    for char in nb1:
        if char=="/":
            count=count+1
    nb2=nb1.replace("/",",",count)
    df_Toronto=df_Toronto.replace(nb1,nb2)

In [187]:
for i in range(df_Toronto.shape[0]):
    nb1=df_Toronto["Neighborhood"][i]
    if nb1=="Not assigned":
        nb2=df_Toronto["Borough"][i]
        df_Toronto=df_Toronto.replace(nb1,nb2)

In [188]:
df_Toronto #This is how my DataFrame looks like:

,Postal code,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park , Harbourfront"
3,M6A,North York,"Lawrence Manor , Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park , Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway , Montgomery Road , Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,Business reply mail Processing CentrE
101,M8Y,Etobicoke,"Old Mill South , King's Mill Park , Sunnylea ,..."
102,M8Z,Etobicoke,"Mimico NW , The Queensway West , South of Bloo..."